@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --font-family-main: "Noto Sans KR", sans-serif;
  --font-size-main: 22px;
  --font-size-additional: 18px;

  // Размеры
  --navbar-height: 82px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}
